<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='main.js') }}"></script>
<div class="grid-container">
  <div class="header-title">
    <img src="{{url_for('static', filename='T.png')}}" id="corner-logo"/>
  </div>
  {% if g.user %}
    <div class="grid-header" method="post">
      <div class="item" id="menu-button">
        <a class="button" href="{{ url_for('index.genre', id=1)}}">Modern</a>
      </div>
      <div class="item" id="menu-button">
        <a class="button" href="{{ url_for('index.genre', id=2)}}">Art Deco</a>
      </div>
      <div class="item" id="menu-button">
        <a class="button" href="{{ url_for('index.genre', id=3)}}">Impressionism</a>
      </div>
      <div class="item" id="menu-button">
        <a class="button" href="{{ url_for('index.genre', id=4)}}">Fauvism</a>
      </div>
    </div>
    <div class="grid-artist">
      <div class="item" id="menu-button">
        <a class="button" href="{{ url_for('index.artist', id=1)}}">Warhol</a>
      </div>
      <div class="item" id="menu-button">
        <a class="button" href="{{ url_for('index.artist', id=2)}}">Monet</a>
      </div>
      <div class="item" id="menu-button">
        <a class="button" href="{{ url_for('index.artist', id=3)}}">Rivera</a>
      </div>
      <div class="item" id="menu-button">
        <a class="button" href="{{ url_for('index.artist', id=4)}}">Munch</a>
      </div>
    </div>
    <div class="grid-club">
      <div class="item" id="menu-button">
        <a class="button" href="{{ url_for('index.club', id=1)}}">Impressionist Club</a>
      </div>
    </div>
  {% else %}
  <div class="grid-header"></div>
  {% endif %}
  <div class="header-right"></div>
  <div class="grid-menu">
    <nav id="navbar">
      <h1><a href="{{ url_for('index') }}"></a></h1>
        {% if g.user %}
          <div class="item" id="menu-user">
            <span id="menu-username">{{ g.user['username'] }}</span>
          </div>
          <div class="item" id="menu-button">
            <a class="button" href="{{ url_for('auth.logout') }}">Logout</a>
          </div>
          <div class="item" id="menu-button">
            <a class="button" href="{{ url_for('index.create') }}">New</a>
          </div>
        {% else %}
          <div class="item" id="menu-button">
            <a class="button" href="{{ url_for('auth.register') }}">Register</a>
          </div>
          <div class="item" id="menu-button">
            <a class="button" href="{{ url_for('auth.login') }}">Login</a>
          </div>
        {% endif %}
    </nav>
  </div>
  <div class="grid-main">
    <section class="content">
      {% block content %}{% endblock %}
    </section>
  </div>
  <div class="content-right"></div>
</div>
